/*-- -------------------------- -->
<---    Final Call To Action    -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #about-header {
    padding-top: clamp(7rem, 27.95vw, 7rem);
    display: inline-grid;
    background-image: url("/assets/images/about_us_hero_c2.webp");
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.849);
    background-blend-mode: multiply;
  }
  #about-header .about-header-left {
    display: inline-grid;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
  }
  #about-header .about-header-left .cs-topper-about {
    font-size: clamp(4.23em, 15vw, 8em);
    max-width: clamp(5.23em, 15vw, 19em);
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: -1%;
    font-weight: 500;
    color: var(--primary);
    margin-bottom: 3rem;
    display: inline-grid;
    font-family: "HPLHS";
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    justify-self: center;
  }
  #about-header .about-header-left .cs-topper-about .swirly {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 65%;
    justify-self: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #about-header .about-header-left .about-header-left-div {
    display: inline-grid;
    -ms-flex-line-pack: baseline;
        align-content: baseline;
    padding-bottom: 3rem;
  }
  #about-header .about-header-left .about-header-left-div .about-header-left-div-h1 {
    font-family: "HPLHS";
    font-size: clamp(1em, 7vw, 8em);
    color: var(--primary);
    padding-bottom: 0.25em;
  }
  #about-header .about-header-left .about-header-left-div .about-header-left-div-text {
    font-family: "Inter";
    font-size: var(--bodyFontSizeMobile);
    line-height: 1.5rem;
    text-align: center;
  }
  #about-header .about-header-right {
    display: inline-grid;
    padding-left: 1em;
    padding-right: 1em;
  }
  #about-header .about-header-right .about-header-right-div {
    display: inline-grid;
    -ms-flex-line-pack: baseline;
        align-content: baseline;
    text-align: center;
  }
  #about-header .about-header-right .about-header-right-div .about-header-right-div-h1 {
    font-family: "HPLHS";
    font-size: clamp(1em, 7vw, 8em);
    color: var(--primary);
    padding-bottom: var(--header2PaddingBottom);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    justify-self: center;
  }
  #about-header .about-header-right .about-header-right-div .about-header-right-div-text {
    font-family: "Inter";
    font-size: var(--bodyFontSizeMobile);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    justify-self: center;
    margin-bottom: 6rem;
    line-height: 1.5rem;
  }
  #about-header .about-header-right .about-right-img {
    background-image: url("/assets/images/tan_profile.webp");
    height: 46vw;
    background-size: cover;
    display: none;
  }
  #about-header .about-header-right .about-right-img .about-right-img-txt {
    display: inline-block;
    font-family: "HPLHS";
    color: var(--primary);
    font-size: clamp(1.23em, 6vw, 3em);
    padding-left: 0.3em;
    padding-top: 0.3em;
    text-align: left;
  }
  #about-experience {
    background-color: var(--primary);
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 4em;
  }
  #about-experience .about-experience-content-main .about-experience-content-title {
    font-family: "HPLHS";
    font-size: clamp(1.23em, 10vw, 4em);
    color: var(--headerColorBlack);
    font-weight: 500;
  }
  #about-experience .about-experience-content-main .about-experience-content-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 2.25em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #about-experience .about-experience-content-main .about-experience-content-body .about-experience-content-img {
    background-image: url("/assets/images/red-audi.webp");
    height: 25.8vw;
    background-size: contain;
    width: 25vw;
  }
  #about-experience .about-experience-content-main .about-experience-content-body .about-experience-content-text {
    width: 65%;
  }
  #about-experience .about-experience-content-main .about-experience-content-body .about-experience-content-text .about-experience-content-text-h1 {
    font-family: "HPLHS";
    color: var(--headerColorBlack);
    font-weight: 500;
  }
  #about-experience .about-experience-content-main .about-experience-content-body .about-experience-content-text .about-experience-content-text-h1 .years {
    font-size: clamp(1.23em, 12vw, 10em);
  }
  #about-experience .about-experience-content-main .about-experience-content-body .about-experience-content-text .about-experience-content-text-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about-experience .about-experience-content-main .about-experience-content-body .about-experience-content-text .about-experience-content-text-body .line {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
  }
  #about-experience .about-experience-content-main .about-experience-content-body .about-experience-content-text .about-experience-content-text-body .about-stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #about-experience .about-experience-content-main .about-experience-content-body .about-experience-content-text .about-experience-content-text-body .about-stats .label {
    font-family: "Inter";
    font-size: var(--bodyFontSizeMobile);
    color: var(--bodyColorBlack);
  }
  #about-experience .about-experience-content-main .about-experience-content-body .about-experience-content-text .about-experience-content-text-body .about-stats .number {
    font-family: "Inter";
    font-size: var(--bodyFontSizeMobile);
    color: var(--bodyColorBlack);
  }
  #about-services {
    background-color: var(--primary);
    background-image: url("/assets/images/as-background.webp");
    background-size: cover;
  }
  #about-services .about-services-content {
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0em;
    padding-bottom: 4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about-services .about-services-content .as-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 3rem;
  }
  #about-services .about-services-content .as-header .as-header-left {
    font-family: "HPLHS";
    font-size: clamp(1.23em, 10vw, 4em);
    color: var(--bodyColorBlack);
    padding-bottom: 0.25em;
  }
  #about-services .about-services-content .as-header .as-header-right {
    font-family: "Inter" !important;
    font-size: var(--bodyFontSize);
    color: var(--bodyColorBlack);
    line-height: var(--bodyLineHeight);
  }
  #about-services .about-services-content .as-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    -ms-flex-item-align: center;
        align-self: center;
    grid-gap: 1em;
  }
  #about-services .about-services-content .as-cards .as-card-wrapper {
    text-decoration: none;
  }
  #about-services .about-services-content .as-cards .as-card {
    background-color: var(--primary);
    padding: 1em;
    -webkit-transition: color 10s;
    transition: color 10s;
  }
  #about-services .about-services-content .as-cards .as-card:hover {
    background-color: var(--decoration);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  #about-services .about-services-content .as-cards .as-card .as-card-h1 {
    font-family: "HPLHS";
    font-size: clamp(1.23em, 3.25vw, 6em);
    color: var(--bodyColorBlack);
    line-height: 1em;
    padding-bottom: 0.25em;
  }
  #about-services .about-services-content .as-cards .as-card .as-card-body {
    font-family: "Inter";
    font-size: var(--bodyFontSize);
    color: var(--bodyColorBlack);
    padding-bottom: 2em;
    line-height: var(--bodyLineHeight);
  }
  #about-services .about-services-content .as-cards .as-card .as-card-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: baseline;
        align-content: baseline;
    color: var(--bodyColorBlack);
    font-size: var(--bodyFontSize);
    -ms-flex-item-align: end;
        align-self: end;
  }
  #about-services .about-services-content .as-cards .as-card .as-card-link .vector-arrow {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    -ms-flex-item-align: center;
        align-self: center;
    margin-left: 1em;
  }
  #about-services .about-services-content .as-cards .as-card-1 {
    opacity: 0;
  }
  #about-services .about-services-content .as-cards .as-card-2 {
    opacity: 0;
  }
  #about-services .about-services-content .as-cards .as-card-3 {
    opacity: 0;
  }
  #about-services .about-services-content .as-cards .as-card-4 {
    opacity: 0;
  }
  #about-services .about-services-content .as-cards .as-card-animation {
    opacity: 1;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  #about-details {
    display: inline-grid;
    background-color: var(--primary);
    padding-left: clamp(2em, 5vw, 2.5em);
    padding-right: clamp(2em, 5vw, 2.5em);
    padding-top: 4em;
    padding-bottom: 4em;
  }
  #about-details .aboutd-left {
    display: inline-grid;
    width: 100%;
    padding-bottom: 1em;
  }
  #about-details .aboutd-left .aboutd-left-h1 {
    font-family: "HPLHS";
    color: var(--bodyColorBlack);
    font-size: var(--header2);
    width: 100%;
    padding-bottom: 0.25em;
  }
  #about-details .aboutd-right {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    grid-gap: 0.25em;
  }
  #about-details .aboutd-right .aboutd-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: var(--primary);
    padding-top: 1em;
    padding-bottom: 1em;
    opacity: 0;
    text-decoration: none;
  }
  #about-details .aboutd-right .aboutd-list-item .aboutd-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about-details .aboutd-right .aboutd-list-item .aboutd-item .aboutd-item-title {
    font-family: "Inter";
    color: var(--bodyColorBlack);
    font-size: var(--bodyFontSize);
    font-weight: bold;
  }
  #about-details .aboutd-right .aboutd-list-item .aboutd-item .aboutd-item-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Inter";
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: var(--bodyFontSize);
    color: var(--bodyColorBlack);
    line-height: var(--bodyLineHeight);
  }
  #about-details .aboutd-right .aboutd-list-item .aboutd-arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 2vw;
    margin-left: 1em;
  }
  #about-details .aboutd-right .aboutd-list-item .aboutd-arrow .ad-vector-arrow {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-flex-item-align: center;
        align-self: center;
  }
  #about-details .aboutd-right .aboutd-list-item-animation {
    opacity: 1;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  #cta {
    position: relative;
    padding: 3.125rem 0;
  }
  #cta:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .7;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #cta .container {
    text-align: center;
  }
  #cta picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
  }
  #cta picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #cta .title {
    font-weight: 900;
    font-size: min(9vw, 3rem);
    line-height: 1.20833333;
    color: #fff;
    position: relative;
    margin-bottom: 2.25rem;
    text-align: center;
  }
  #cta p {
    color: #fff;
    text-align: center;
    opacity: 1;
    margin: auto;
    margin-bottom: 2.25rem;
    width: 96%;
    max-width: 37.375rem;
  }
  #about-experience .about-experience-content-main .about-experience-content-title {
    font-family: "HPLHS";
  }
  #about-experience .about-experience-content-main .about-experience-content-body .about-experience-content-img {
    background-image: url("/assets/images/red-audi.webp");
    height: 46vw;
    background-size: cover;
  }
}
/* Large Tablet */
@media only screen and (min-width: 760px) {
  #about-header {
    padding-top: clamp(7rem, 27.95vw, 7rem);
    padding-left: 2.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 3rem;
  }
  #about-header .about-header-left {
    width: 54%;
    display: inline-grid;
    -ms-flex-line-pack: baseline;
        align-content: baseline;
    padding-left: 0rem;
  }
  #about-header .about-header-left .cs-topper-about {
    font-size: clamp(3.23em, 10vw, 10em);
    line-height: 1em;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: -1%;
    font-weight: 500;
    color: var(--primary);
    margin-bottom: 6rem;
    display: block;
    font-family: "HPLHS";
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #about-header .about-header-left .cs-topper-about .swirly {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 72%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #about-header .about-header-left .about-header-left-div {
    display: inline-grid;
    -ms-flex-line-pack: baseline;
        align-content: baseline;
    margin-right: 2rem;
  }
  #about-header .about-header-left .about-header-left-div .about-header-left-div-h1 {
    font-family: "HPLHS";
    font-size: clamp(1.23em, 6vw, 4em);
    color: var(--primary);
    padding-bottom: 0.25em;
    text-align: left;
  }
  #about-header .about-header-left .about-header-left-div .about-header-left-div-text {
    font-family: "Inter";
    font-size: var(--bodyFontSize);
    line-height: 1.5rem;
    text-align: left;
  }
  #about-header .about-header-right {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #about-header .about-header-right .about-header-right-div {
    display: inline-grid;
    -ms-flex-line-pack: baseline;
        align-content: baseline;
  }
  #about-header .about-header-right .about-header-right-div .about-header-right-div-h1 {
    font-family: "HPLHS";
    font-size: clamp(1.23em, 6vw, 4em);
    color: var(--primary);
    padding-bottom: 0.25em;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 80%;
    justify-self: center;
    text-align: left;
  }
  #about-header .about-header-right .about-header-right-div .about-header-right-div-text {
    font-family: "Inter";
    font-size: var(--bodyFontSize);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 80%;
    justify-self: center;
    margin-bottom: 6rem;
    line-height: 1.5rem;
    text-align: left;
  }
  #about-header .about-header-right .about-right-img {
    background-image: url("/assets/images/tan_profile.webp");
    height: 46vw;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #about-header .about-header-right .about-right-img .about-right-img-txt {
    display: inline-block;
    font-family: "HPLHS";
    color: var(--primary);
    font-size: clamp(1.23em, 6vw, 3em);
    padding-left: 0.3em;
    padding-top: 0.3em;
  }
  #about-experience {
    background-color: var(--primary);
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 4em;
  }
  #about-experience .about-experience-content-main .about-experience-content-title {
    font-family: "HPLHS";
    font-size: clamp(1.23em, 10vw, 4em);
    color: var(--headerColorBlack);
    font-weight: 500;
  }
  #about-experience .about-experience-content-main .about-experience-content-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 2.25em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #about-experience .about-experience-content-main .about-experience-content-body .about-experience-content-img {
    background-image: url("/assets/images/red-audi.webp");
    height: 31.8vw;
    background-size: contain;
    width: 23.4vw;
  }
  #about-experience .about-experience-content-main .about-experience-content-body .about-experience-content-text {
    width: 70%;
  }
  #about-experience .about-experience-content-main .about-experience-content-body .about-experience-content-text .about-experience-content-text-h1 {
    font-family: "HPLHS";
    color: var(--headerColorBlack);
    font-weight: 500;
  }
  #about-experience .about-experience-content-main .about-experience-content-body .about-experience-content-text .about-experience-content-text-h1 .years {
    font-size: clamp(1.23em, 12vw, 10em);
  }
  #about-experience .about-experience-content-main .about-experience-content-body .about-experience-content-text .about-experience-content-text-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about-experience .about-experience-content-main .about-experience-content-body .about-experience-content-text .about-experience-content-text-body .line {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
  }
  #about-experience .about-experience-content-main .about-experience-content-body .about-experience-content-text .about-experience-content-text-body .about-stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #about-experience .about-experience-content-main .about-experience-content-body .about-experience-content-text .about-experience-content-text-body .about-stats .label {
    font-family: "Inter";
    font-size: var(--bodyFontSize);
    color: var(--bodyColorBlack);
  }
  #about-experience .about-experience-content-main .about-experience-content-body .about-experience-content-text .about-experience-content-text-body .about-stats .number {
    font-family: "Inter";
    font-size: var(--bodyFontSize);
    color: var(--bodyColorBlack);
  }
  #about-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: var(--primary);
    padding-left: clamp(2em, 5vw, 2.5em);
    padding-right: clamp(2em, 5vw, 2.5em);
    padding-top: 4em;
    padding-bottom: 4em;
  }
  #about-details .aboutd-left {
    display: inline-grid;
    width: 50%;
  }
  #about-details .aboutd-left .aboutd-left-h1 {
    font-family: "HPLHS";
    color: var(--bodyColorBlack);
    font-size: var(--header2);
    width: 90%;
    padding-bottom: 1em;
  }
  #about-details .aboutd-right {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    grid-gap: 0.25em;
  }
  #about-details .aboutd-right .aboutd-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: var(--primary);
    padding: 1em;
    -webkit-transition: color 10s;
    transition: color 10s;
    transition: 0.5s all ease 0s;
    -webkit-transition: 0.5s all ease 0s;
    -moz-transition: 0.5s all ease 0s;
    -ms-transition: 0.5s all ease 0s;
    opacity: 0;
  }
  #about-details .aboutd-right .aboutd-list-item:hover {
    background-color: var(--decoration);
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    transition: 0.5s all ease 0s;
    -webkit-transition: 0.5s all ease 0s;
    -moz-transition: 0.5s all ease 0s;
    -ms-transition: 0.5s all ease 0s;
  }
  #about-details .aboutd-right .aboutd-list-item .aboutd-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about-details .aboutd-right .aboutd-list-item .aboutd-item .aboutd-item-title {
    font-family: "Inter";
    color: var(--bodyColorBlack);
    font-size: var(--bodyFontSize);
    font-weight: bold;
  }
  #about-details .aboutd-right .aboutd-list-item .aboutd-item .aboutd-item-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Inter";
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: var(--bodyFontSize);
    color: var(--bodyColorBlack);
  }
  #about-details .aboutd-right .aboutd-list-item .aboutd-arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 2vw;
    margin-left: 1em;
  }
  #about-details .aboutd-right .aboutd-list-item-animation {
    opacity: 1 !important;
    -webkit-animation: translate-left-right 1s;
            animation: translate-left-right 1s;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1024px) {
  #about-header {
    padding-top: 8rem;
    padding-left: clamp(2em, 5vw, 2.5em);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #about-header .about-header-left {
    width: 50%;
    display: inline-grid;
    -ms-flex-line-pack: baseline;
        align-content: baseline;
  }
  #about-header .about-header-left .cs-topper-about {
    font-size: clamp(3.23em, 10vw, 10em);
    line-height: 1em;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: -1%;
    font-weight: 500;
    color: var(--primary);
    margin-bottom: 6rem;
    display: block;
    font-family: "HPLHS";
    width: clamp(1em, 49vw, 10em);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #about-header .about-header-left .cs-topper-about .swirly {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 75%;
    height: 100%;
  }
  #about-header .about-header-left .about-header-left-div {
    display: inline-grid;
    -ms-flex-line-pack: baseline;
        align-content: baseline;
    margin-right: 2rem;
  }
  #about-header .about-header-left .about-header-left-div .about-header-left-div-h1 {
    font-family: "HPLHS";
    font-size: clamp(1.23em, 6vw, 4em);
    color: var(--primary);
    padding-bottom: var(--header2PaddingBottom);
    text-align: left;
  }
  #about-header .about-header-left .about-header-left-div .about-header-left-div-text {
    font-family: "Inter";
    font-size: var(--bodyFontSize);
    line-height: 1.5rem;
    text-align: left;
  }
  #about-header .about-header-right {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #about-header .about-header-right .about-header-right-div {
    display: inline-grid;
    -ms-flex-line-pack: baseline;
        align-content: baseline;
  }
  #about-header .about-header-right .about-header-right-div .about-header-right-div-h1 {
    font-family: "HPLHS";
    font-size: clamp(1.23em, 6vw, 4em);
    color: var(--primary);
    padding-bottom: var(--header2PaddingBottom);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 80%;
    justify-self: center;
    text-align: left;
  }
  #about-header .about-header-right .about-header-right-div .about-header-right-div-text {
    font-family: "Inter";
    font-size: var(--bodyFontSize);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 80%;
    justify-self: center;
    margin-bottom: 6rem;
    line-height: 1.5rem;
    text-align: left;
  }
  #about-header .about-header-right .about-right-img {
    background-image: url("/assets/images/tan_profile.webp");
    height: 46vw;
    width: 42vw;
    justify-self: end;
    background-size: cover;
  }
  #about-header .about-header-right .about-right-img .about-right-img-txt {
    display: inline-block;
    font-family: "HPLHS";
    color: var(--primary);
    font-size: clamp(1.23em, 6vw, 3em);
    padding-left: 0.3em;
    padding-top: 0.3em;
  }
  #about-experience {
    background-color: var(--primary);
    padding-top: 4em;
    padding-left: clamp(2em, 5vw, 2.5em);
    padding-right: clamp(2em, 5vw, 2.5em);
    padding-bottom: 4em;
  }
  #about-experience .about-experience-content-main .about-experience-content-title {
    font-family: "HPLHS";
    font-size: clamp(1.23em, 6vw, 6em);
    color: var(--headerColorBlack);
    font-weight: 500;
  }
  #about-experience .about-experience-content-main .about-experience-content-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 4.25em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #about-experience .about-experience-content-main .about-experience-content-body .about-experience-content-img {
    background-image: url("/assets/images/red-audi.webp");
    height: 25.8vw;
    background-size: contain;
    width: 19vw;
  }
  #about-experience .about-experience-content-main .about-experience-content-body .about-experience-content-text {
    width: 75%;
  }
  #about-experience .about-experience-content-main .about-experience-content-body .about-experience-content-text .about-experience-content-text-h1 {
    font-family: "HPLHS";
    color: var(--headerColorBlack);
    font-weight: 500;
  }
  #about-experience .about-experience-content-main .about-experience-content-body .about-experience-content-text .about-experience-content-text-h1 .years {
    font-size: clamp(1.23em, 9vw, 10em);
  }
  #about-experience .about-experience-content-main .about-experience-content-body .about-experience-content-text .about-experience-content-text-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about-experience .about-experience-content-main .about-experience-content-body .about-experience-content-text .about-experience-content-text-body .line {
    padding-bottom: 1em;
    padding-top: 1em;
  }
  #about-experience .about-experience-content-main .about-experience-content-body .about-experience-content-text .about-experience-content-text-body .about-stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #about-experience .about-experience-content-main .about-experience-content-body .about-experience-content-text .about-experience-content-text-body .about-stats .label {
    font-family: "Inter";
    font-size: var(--bodyFontSize);
    color: var(--bodyColorBlack);
  }
  #about-experience .about-experience-content-main .about-experience-content-body .about-experience-content-text .about-experience-content-text-body .about-stats .number {
    font-family: "Inter";
    font-size: var(--bodyFontSize);
    color: var(--bodyColorBlack);
  }
  #about-services {
    background-color: var(--primary);
    background-image: url("/assets/images/as-background.webp");
  }
  #about-services .about-services-content {
    padding-left: clamp(2em, 5vw, 2.5em);
    padding-right: clamp(2em, 5vw, 2.5em);
    padding-top: 0em;
    padding-bottom: 5em;
  }
  #about-services .about-services-content .as-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 7rem;
  }
  #about-services .about-services-content .as-header .as-header-left {
    font-family: "HPLHS";
    font-size: clamp(1.23em, 6vw, 6em);
    color: var(--bodyColorBlack);
  }
  #about-services .about-services-content .as-header .as-header-right {
    font-family: "Inter" !important;
    font-size: var(--bodyFontSize);
    color: var(--bodyColorBlack);
    line-height: var(--bodyLineHeight);
  }
  #about-services .about-services-content .as-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  #about-services .about-services-content .as-cards .as-card {
    height: 22em;
    display: inline-grid;
  }
  #about-services .about-services-content .as-cards .as-card-1 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    opacity: 0;
    -webkit-transition: color 10s;
    transition: color 10s;
    transition: 0.5s all ease 0s;
    -webkit-transition: 0.5s all ease 0s;
    -moz-transition: 0.5s all ease 0s;
    -ms-transition: 0.5s all ease 0s;
  }
  #about-services .about-services-content .as-cards .as-card-1:hover {
    background-color: var(--decoration);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    transition: 0.5s all ease 0s;
    -webkit-transition: 0.5s all ease 0s;
    -moz-transition: 0.5s all ease 0s;
    -ms-transition: 0.5s all ease 0s;
  }
  #about-services .about-services-content .as-cards .as-card-2 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    opacity: 0;
    margin-top: 10em;
    -webkit-transition: color 10s;
    transition: color 10s;
    transition: 0.5s all ease 0s;
    -webkit-transition: 0.5s all ease 0s;
    -moz-transition: 0.5s all ease 0s;
    -ms-transition: 0.5s all ease 0s;
  }
  #about-services .about-services-content .as-cards .as-card-2:hover {
    background-color: var(--decoration);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    transition: 0.5s all ease 0s;
    -webkit-transition: 0.5s all ease 0s;
    -moz-transition: 0.5s all ease 0s;
    -ms-transition: 0.5s all ease 0s;
  }
  #about-services .about-services-content .as-cards .as-card-3 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    opacity: 0;
    -webkit-transition: color 10s;
    transition: color 10s;
    transition: 0.5s all ease 0s;
    -webkit-transition: 0.5s all ease 0s;
    -moz-transition: 0.5s all ease 0s;
    -ms-transition: 0.5s all ease 0s;
  }
  #about-services .about-services-content .as-cards .as-card-3:hover {
    background-color: var(--decoration);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    transition: 0.5s all ease 0s;
    -webkit-transition: 0.5s all ease 0s;
    -moz-transition: 0.5s all ease 0s;
    -ms-transition: 0.5s all ease 0s;
  }
  #about-services .about-services-content .as-cards .as-card-4 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    opacity: 0;
    margin-top: 10em;
    -webkit-transition: color 10s;
    transition: color 10s;
    transition: 0.5s all ease 0s;
    -webkit-transition: 0.5s all ease 0s;
    -moz-transition: 0.5s all ease 0s;
    -ms-transition: 0.5s all ease 0s;
  }
  #about-services .about-services-content .as-cards .as-card-4:hover {
    background-color: var(--decoration);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    transition: 0.5s all ease 0s;
    -webkit-transition: 0.5s all ease 0s;
    -moz-transition: 0.5s all ease 0s;
    -ms-transition: 0.5s all ease 0s;
  }
  #about-services .about-services-content .as-cards .as-card-animation {
    opacity: 1;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  #about-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: var(--primary);
    padding-left: clamp(2em, 5vw, 2.5em);
    padding-right: clamp(2em, 5vw, 2.5em);
    padding-top: 4em;
    padding-bottom: 4em;
  }
  #about-details .aboutd-left {
    display: inline-grid;
    width: 50%;
  }
  #about-details .aboutd-left .aboutd-left-h1 {
    font-family: "HPLHS";
    color: var(--bodyColorBlack);
    font-size: clamp(1.23em, 6vw, 6em);
    width: 60%;
    padding-bottom: 1em;
  }
  #about-details .aboutd-right {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    grid-gap: 0.25em;
  }
  #about-details .aboutd-right .aboutd-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: var(--primary);
    padding: 1em;
    -webkit-transition: color 10s;
    transition: color 10s;
    transition: 0.5s all ease 0s;
    -webkit-transition: 0.5s all ease 0s;
    -moz-transition: 0.5s all ease 0s;
    -ms-transition: 0.5s all ease 0s;
    opacity: 0;
  }
  #about-details .aboutd-right .aboutd-list-item:hover {
    background-color: var(--decoration);
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    transition: 0.5s all ease 0s;
    -webkit-transition: 0.5s all ease 0s;
    -moz-transition: 0.5s all ease 0s;
    -ms-transition: 0.5s all ease 0s;
  }
  #about-details .aboutd-right .aboutd-list-item .aboutd-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about-details .aboutd-right .aboutd-list-item .aboutd-item .aboutd-item-title {
    font-family: "Inter";
    color: var(--bodyColorBlack);
    font-size: var(--bodyFontSize);
    font-weight: bold;
  }
  #about-details .aboutd-right .aboutd-list-item .aboutd-item .aboutd-item-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Inter";
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: var(--bodyFontSize);
    color: var(--bodyColorBlack);
  }
  #about-details .aboutd-right .aboutd-list-item .aboutd-arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 2vw;
    margin-left: 1em;
  }
  #about-details .aboutd-right .aboutd-list-item-animation {
    opacity: 1 !important;
    -webkit-animation: translate-left-right 1s;
            animation: translate-left-right 1s;
  }
  #cta {
    position: relative;
    margin-top: 6.25rem;
  }
  #cta:before {
    display: none;
  }
  #cta:after {
    content: '';
    position: absolute;
    display: block;
    height: 69.25rem;
    width: 125rem;
    background: url("/assets/svgs/cta-squares.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: -3;
  }
  #cta .container {
    width: 90.0625%;
    margin: auto;
  }
  #cta picture {
    width: 90.0625%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #cta picture:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .7;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
@-webkit-keyframes wipe-enter {
  0% {
    -webkit-transform: scale(0, 0.025);
            transform: scale(0, 0.025);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1, 0.025);
            transform: scale(1, 0.025);
    opacity: 1;
  }
}
@keyframes wipe-enter {
  0% {
    -webkit-transform: scale(0, 0.025);
            transform: scale(0, 0.025);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1, 0.025);
            transform: scale(1, 0.025);
    opacity: 1;
  }
}
@-webkit-keyframes translate-left-right {
  0% {
    -webkit-transform: translateX(110%);
            transform: translateX(110%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes translate-left-right {
  0% {
    -webkit-transform: translateX(110%);
            transform: translateX(110%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}
