/* Mobile - 360px */
/* Tablet - 768px */
/* Desktop Parallax Effect - 1300px */
/* Mobile */
/* Inbetween */
/* Large Desktop */
/* Mobile - 360px */
/* Tablet - 768px */
/* Desktop Parallax Effect - 1300px */
@keyframes wipe-enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes translate-left-right {
  0% {
    transform: translateX(110%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
